.employees {
  background: var(--background-grey);
  padding-top: 94px;
  padding-bottom: 94px;

  &__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 10px;
  }

  &__job {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }

  &__overlay {
    padding: 30px;
    padding-bottom: 16px;
  }

  &__text-position {
    display: flex;
    flex-direction: column;
  }

  &__element {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--background-white);
  }

  &__element:not(:last-child) {
    margin-right: 30px;
  }

  &__icons-svg {
    fill: var(--icons-inactive);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icons {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    gap: 10px;
  }

  &__icons-element {
    background-color: transparent;
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__icons-element:hover,
  &__icons-element:focus {
    background-color: var(--active-color);
  }
  &__icons-element:hover &__icons-svg,
  &__icons-element:focus &__icons-svg {
    fill: var(--background-white);
  }
}
