.job {
  margin-top: 94px;

  &__list {
    justify-content: center;
    display: flex;
    list-style-type: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--title-color);
    justify-content: flex-start;
  }

  &__card {
    position: relative;
    overflow: hidden;
  }

  &__img {
    display: block;
  }

  &__overlay {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 370px;
    height: 70px;
    background-color: var(--background-image);
    color: var(--background-white);

    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
  }

  &__element:not(:last-child) {
    margin-right: 30px;
  }
}
