.paragraphs {
  &__list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
  }

  &__element:not(:last-child) {
    margin-right: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-color);
  }

  &__text {
    margin-top: 10px;
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }

  &__icons {
    padding: 25px 102.34px;
    margin-bottom: 30px;
    width: 270px;
    background: var(--background-grey);
    border-radius: 4px;
  }
}
