.portfolio {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;

  &__nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__nav-button {
    padding: 6px 22px;
    font-family: var(--main-font-family);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--title-color);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__nav-btn-position:not(:last-child) {
    margin-right: 8px;
  }

  &__projects {
    margin-top: 56px;
    list-style-type: none;
    background-color: var(--background-white);
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__projects-element {
    display: flex;
    flex-direction: column;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__projects-card {
    position: relative;
    overflow: hidden;
  }

  &__projects-img {
    display: block;
  }

  &__projects-transform {
    position: absolute;
    bottom: -294px;
    left: 0;
    width: 370px;
    height: 294px;
    background: rgba(33, 150, 243, 0.9);

    transform: translateY(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__projects-element:hover &__projects-transform {
    transform: translateY(-294px);
  }

  &__projects-text {
    color: var(--background-white);
    font-family: var(--main-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    letter-spacing: 0.03em;
    margin: 49px 45px 49px 24px;
  }

  &__projects-title {
    font-family: var(--main-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
  }

  &__projects-title--position {
    display: block;
  }

  &__projects-category {
    font-family: var(--main-font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--text-color);
  }

  &__projects-descr {
    background-color: var(--background-white);
    padding: 24px 20px;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }

  &__nav-button:hover,
  &__nav-button:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  &__nav-button:hover,
  &__nav-button:focus {
    color: var(--background-white);
    background: var(--active-color);
  }
  &__projects-element:hover &__projects-transform {
    transform: translateY(-294px);
  }
  &__projects-element:hover,
  &__projects-element:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
